@import 'global.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #F1F5F9;
    padding: 2rem;
}

main {
    width: 100%;
    max-width: 58rem;
    margin: 0 auto;
}

/* =========================
   BOTÃO VOLTAR
========================= */

.setavoltarpreta {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    border: none;
    background: transparent;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: .25s;
}

.setavoltarpreta:hover {
    opacity: .75;
}

.setavoltarpreta:active {
    transform: scale(.98);
}

.setavoltarpreta figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.setavoltarpreta img {
    width: 1.4rem;
}

.setavoltarpreta span {
    font-size: 1.7rem;
    font-weight: 500;
    color: #111827;
}

/* =========================
   CARD SUPERIOR
========================= */

.container_diario {
    width: 100%;
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.25rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / 12%);
    margin-bottom: 2rem;
}

.container_diario figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_diario img {
    width: 2.6rem;
}

.titulo_checklist {
    font-size: clamp(2rem, 3vw, 2.4rem);
    font-weight: 500;
    color: #0f2b63;
    line-height: 1.3;
}

.subtitulo {
    width: 100%;
    margin-top: .25rem;
    font-size: 1.45rem;
    color: #374151;
    line-height: 1.6;
}

/* =========================
   CARD PRINCIPAL
========================= */

.container_dados {
    width: 100%;
    background: #ffffff;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: 0 .25rem 1rem rgb(0 0 0 / 12%);
}

.container_dados h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #111827;
    margin-bottom: 2rem;
}

/* =========================
   FORMULÁRIO
========================= */

form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.input_nome,
.input_turno {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #0F172A;
}

label {
    margin-bottom: 1rem;
    font-size: 1.35rem;
    font-weight: 600;
    color: #0f2b63;
}

input,
select {
    width: 100%;
    min-height: 3.8rem;
    border: .0625rem solid #d5dbe6;
    border-radius: .75rem;
    padding: 0 1rem;
    background: #F3F3F5;
    font-size: 1.1rem;
    outline: none;
    transition: .25s;
}

input::placeholder {
    color: #717182;
    font-size: 1.25rem;
}

select {
    font-size: 1.25rem;
}

input:hover,
select:hover {
    border-color: #434446;
}

input:focus,
select:focus {
    border-color: #343639;
    box-shadow: 0 0 0 .25rem rgba(105, 153, 243, 0.12);
}





/* =========================
   SELECT
========================= */

.input_turno {
    position: relative;
}

.selectcinzaft {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(65%);
    pointer-events: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.selectcinzaft img {
    width: 1rem;
    height: auto;
}

/* Esse trecho é usado para remover a aparência padrão do <select> do navegador e permitir que você use sua própria seta */

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    padding-right: 3rem;
}


option {
    background: #ffffff;
    color: #000000;
}

/* =========================
   CAIXA AZUL
========================= */

.caixinha_azul {
    margin-top: 2.5rem;
    padding: 1.75rem;
    background: #EFF6FF;
    border: .095rem solid #42b1ed;
    border-radius: 1.2rem;
}

.checklist_inclui {
    color: #1E40AF;
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.caixinha_azul ul {
    list-style: none;
    color: #334155;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem 3rem;
    padding: 0;
}

.caixinha_azul li {
    position: relative;
    padding-left: 1.5rem;
    font-size: 1.3rem;
    color: #374151;
    line-height: 1.5;
}

.caixinha_azul li::before {
    content: "";
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background: #3f7cf0;

    position: absolute;
    left: 0;
    top: .7rem;
}

.total_itens {
    margin-top: 1.75rem;
    font-size: 1.2rem;
    color: #64748B;
}

/* =========================
   ALERTA
========================= */

.container_importante {
    margin-top: 2rem;
    background: #FEF3C7;
    border: .0625rem solid #f0c95c;
    border-radius: 1rem;
    padding: 1.75rem;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: .75rem 1rem;
}

.container_importante figure {
    display: flex;
    align-items: flex-start;
}

.container_importante img {
    width: 1.6rem;
}

.titulo_importante {
    color: #92400E;
    font-size: 1.3rem;
    font-weight: 700;
}

.subtitulo_importante {
    grid-column: 2;
    font-size: 1.3rem;
    color: #92400E;
    line-height: 1.7;
}

/* =========================
   BOTÃO
========================= */

.btn_iniciar {
    margin-top: 2rem;
}

.btn_iniciar button {
    width: 100%;
    min-height: 4rem;
    border: none;
    border-radius: 0.75rem;
    background: #3f7cf0;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    transition: .25s;
}

.btn_iniciar button:hover {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgb(63 124 240 / 25%);
}

.btn_iniciar button:active {
    transform: scale(.98);
    background: #060128;
}


/* =========================
   DESKTOP MÉDIO
========================= */

@media (max-width: 1024px) {

    body {
        padding: 1.5rem;
    }

    main {
        max-width: 48rem;
    }

    .container_diario,
    .container_dados {
        padding: 1.75rem;
    }

    .btn_iniciar button {
        width: 100%;
        min-height: 4rem;
        border: none;
        border-radius: 0.75rem;
        background: #3f7cf0;
        color: #ffffff;
        font-size: 1.5rem;
        font-weight: 600;
        cursor: pointer;
        transition: .25s;
    }

    .btn_iniciar button:hover {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgb(63 124 240 / 25%);
    }

    .btn_iniciar button:active {
        transform: scale(.98);
        background: #060128;
    }
}

/* =========================
   TABLET
========================= */

@media (max-width: 768px) {

    body {
        padding: 1rem;
    }

    main {
        max-width: 42rem;
    }

    .container_diario,
    .container_dados {
        padding: 1.5rem;
    }

    .caixinha_azul,
    .container_importante {
        padding: 1.4rem;
    }

    .titulo_checklist {
        font-size: 1.7rem;
    }

    .subtitulo {
        font-size: 1.1rem;
    }

    .container_dados h2 {
        font-size: 1.3rem;
        margin-bottom: 1.8rem;
    }

    label {
        font-size: 1rem;
    }

    input,
    select {
        min-height: 3.2rem;
        font-size: 1rem;
    }

    input::placeholder {
        font-size: 1rem;
    }

    .checklist_inclui {
        font-size: 1.1rem;
    }

    .caixinha_azul li {
        font-size: 1rem;
    }

    .titulo_importante,
    .subtitulo_importante {
        font-size: 1rem;
    }

    .btn_iniciar button {
        font-size: 1.2rem;
        min-height: 3.6rem;
    }

    .btn_iniciar button:hover {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgb(63 124 240 / 25%);
    }

    .btn_iniciar button:active {
        transform: scale(.98);
        background: #060128;
    }

    .setavoltarpreta {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        border: none;
        background: transparent;
        cursor: pointer;
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-left: 1rem;
        transition: .25s;
    }




}

/* =========================
   MOBILE GRANDE
========================= */

@media (max-width: 600px) {

    body {
        padding: .8rem;
    }

    /* VOLTAR */

    .setavoltarpreta {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        margin-left: 1rem;
        gap: .45rem;
    }

    .setavoltarpreta img {
        width: .9rem;
    }

    .setavoltarpreta span {
        font-size: 1.05rem;
    }

    /* BOLINHAS */

    .caixinha_azul li::before {
        top: .5em;
    }

    main {
        width: 100%;
        max-width: 90%;
    }

    .container_diario,
    .container_dados {
        padding: 1.25rem;
    }

    .caixinha_azul,
    .container_importante {
        padding: 1.25rem;
    }

    .titulo_checklist {
        font-size: 1.45rem;
    }

    .subtitulo {
        font-size: 1rem;
        line-height: 1.5;
    }

    .container_dados h2 {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }

    form {
        gap: 1.5rem;
    }

    /* FORMULÁRIO */

    label {
        font-size: 1.05rem;
        margin-bottom: .7rem;
    }

    input,
    select {
        min-height: 3.2rem;
        font-size: 1rem;
    }

    input::placeholder {
        font-size: .95rem;
    }

    .caixinha_azul ul {
        grid-template-columns: 1fr;
        gap: .85rem;
    }

    .checklist_inclui {
        font-size: 1rem;
    }

    .caixinha_azul li {
        font-size: .95rem;
        line-height: 1.4;
    }

    .total_itens {
        font-size: .95rem;
    }

    .titulo_importante {
        font-size: 1.05rem;
    }

    .subtitulo_importante {
        font-size: 1rem;
    }

    /* BOTÃO */

    .btn_iniciar button {
        min-height: 3.1rem;
        font-size: 1.1rem;
    }

    .btn_iniciar button:hover {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgb(63 124 240 / 25%);
    }

    .btn_iniciar button:active {
        transform: scale(.98);
        background: #060128;
    }
}


/* =========================
   MOBILE
========================= */

@media (max-width: 480px) {

    body {
        padding: .75rem;
    }

    .setavoltarpreta {
        margin-top: .9rem;
        margin-bottom: 1.25rem;
        margin-left: .9rem;
        gap: .4rem;
    }

    .setavoltarpreta img {
        width: .85rem;
    }

    .setavoltarpreta span {
        font-size: 1rem;
    }

    .caixinha_azul li::before {
        top: .48em;
    }

    .container_diario,
    .container_dados {
        padding: 1rem;
    }

    .caixinha_azul,
    .container_importante {
        padding: 1rem;
    }

    .container_importante {
        grid-template-columns: 1fr;
    }

    .subtitulo_importante {
        grid-column: auto;
    }

    .titulo_checklist {
        font-size: 1.3rem;
    }

    .subtitulo {
        font-size: 1rem;
    }

    .container_dados h2 {
        font-size: 1.15rem;
    }

    form {
        gap: 1.25rem;
    }

    label {
        font-size: 1rem;
    }

    input,
    select {
        min-height: 3rem;
        font-size: .95rem;
    }

    .caixinha_azul li {
        font-size: .9rem;
    }

    .checklist_inclui {
        font-size: .95rem;
    }

    .titulo_importante {
        font-size: .95rem;
    }

    .subtitulo_importante {
        font-size: .9rem;
    }

    .btn_iniciar button {
        min-height: 3rem;
        font-size: 1.1rem;
    }

    .btn_iniciar button:hover {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgb(63 124 240 / 25%);
    }

    .btn_iniciar button:active {
        transform: scale(.98);
        background: #060128;
    }
}

/* =========================
   MOBILE PEQUENO
========================= */

@media (max-width: 400px) {

    body {
        padding: .6rem;
    }

    .setavoltarpreta {
        margin-top: .8rem;
        margin-bottom: 1rem;
        margin-left: .8rem;
    }

    .setavoltarpreta img {
        width: .8rem;
    }

    .setavoltarpreta span {
        font-size: .95rem;
    }

    .caixinha_azul li::before {
        top: .46em;
    }

    .container_diario,
    .container_dados,
    .caixinha_azul,
    .container_importante {
        padding: .9rem;
    }

    .titulo_checklist {
        font-size: 1.15rem;
    }

    .subtitulo {
        font-size: .87rem;
    }

    label {
        font-size: .95rem;
    }

    input,
    select {
        min-height: 2.9rem;
        font-size: .9rem;
    }

    input::placeholder {
        font-size: .85rem;
    }

    .checklist_inclui {
        font-size: .9rem;
    }

    .caixinha_azul li {
        font-size: .85rem;
        padding-left: 1.25rem;
    }

    .total_itens {
        font-size: .9rem;
    }

    .titulo_importante,
    .subtitulo_importante {
        font-size: .85rem;
    }

    .btn_iniciar button {
        min-height: 2.9rem;
        font-size: 1rem;
    }

    .btn_iniciar button:hover {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgb(63 124 240 / 25%);
    }

    .btn_iniciar button:active {
        transform: scale(.98);
        background: #060128;
    }
}


/* =========================
   330PX
========================= */

@media (max-width: 330px) {

    body {
        padding: .4rem;
    }

    .setavoltarpreta {
        margin-top: .7rem;
        margin-bottom: .9rem;
        margin-left: .7rem;
    }

    .setavoltarpreta img {
        width: .75rem;
    }

    .setavoltarpreta span {
        font-size: .85rem;
    }

    .caixinha_azul li::before {
        top: .44em;
    }

    .container_diario,
    .container_dados,
    .caixinha_azul,
    .container_importante {
        padding: .75rem;
    }

    .titulo_checklist {
        font-size: 1rem;
    }

    .subtitulo {
        font-size: .8rem;
    }

    .container_dados h2 {
        font-size: .95rem;
    }

    label {
        font-size: .85rem;
    }

    input,
    select {
        min-height: 2.7rem;
        font-size: .85rem;
    }

    .checklist_inclui {
        font-size: .85rem;
    }

    .caixinha_azul li {
        font-size: .8rem;
    }

    .total_itens,
    .subtitulo_importante {
        font-size: .75rem;
    }

    .btn_iniciar button {
        min-height: 2.8rem;
        font-size: .95rem;
    }

    .btn_iniciar button:hover {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgb(63 124 240 / 25%);
    }

    .btn_iniciar button:active {
        transform: scale(.98);
        background: #060128;
    }
}

.setavoltarpreta,
.setavoltarpreta figure,
.setavoltarpreta img,
.setavoltarpreta span,
select,
.btn_iniciar button {
    cursor: pointer;
}