@import 'global.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    background: #E9EDF2;
    color: #0F172A;
}

main {
    width: min(95%, 90rem);
    margin: 0 auto;
    padding: 2rem 0;
}

/* =========================
   TOPO
========================= */

.resultado_topo {
    background: #fff;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .08);
    margin-bottom: 1.5rem;
}

.icone_resultado img {
    margin-top: 0.2rem;
    width: 2rem;
    height: 2rem;
}

.dados_resultado {
    flex: 1;
}

.titulo_resultado {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: .8rem;
}

.titulo_resultado h1 {
    font-size: 2rem;
    font-weight: 700;
}

.status_nao_conforme {
    background: #DC2626;
    color: #fff;
    padding: .4rem .8rem;
    border-radius: .5rem;
    font-size: .8rem;
    font-weight: 700;
}

.dados_resultado p {
    margin-bottom: .5rem;
    font-size: 1.2rem;
}

/* =========================
   NÃO CONFORME
========================= */

.container_nao_conforme {
    background: #FDFBF2;
    border: 1px solid #F59E0B;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-bottom: 1.8rem;
}

.titulo_nao_conforme {
    display: flex;
    align-items: center;
    gap: .8rem;
    margin-bottom: 1.5rem;
}

.titulo_nao_conforme img {
    width: 1.3rem;
}

.titulo_nao_conforme h2 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #92400E;
}

.lista_nao_conformes {
    display: flex;
    flex-direction: column;
    gap: .9rem;
}

.item_nao_conforme {
    background: #fff;
    border: 1px solid #FBBF24;
    border-radius: .8rem;
    padding: 1rem;
}

.item_nao_conforme strong {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

.item_nao_conforme p {
    font-size: 1.15rem;
}

/* =========================
   ALERTA
========================= */

.alerta_acao {
    margin-top: 1.5rem;
    border: 1px solid #FCA5A5;
    background: #FEF2F2;
    border-radius: .8rem;
    padding: 1rem;
    display: flex;
    gap: .8rem;
    align-items: flex-start;
}

.alerta_acao img {
    width: 1rem;
    margin-top: .15rem;
}

.acao_necessaria {
    color: #B91C1C;
    line-height: 1.5;
    font-size: 1.15rem;
}

/* =========================
   ESTATÍSTICAS
========================= */

.estatisticas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card_estatistica {
    background: #fff;
    border-radius: 1rem;
    padding: 1.2rem;
    box-shadow: 0 .25rem 1rem rgba(0, 0, 0, .08);
}

.card_estatistica h3 {
    font-size: 1.35rem;
    margin-bottom: 2.5rem;
    min-height: 2.5rem;
}

.dados_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .8rem;
}

.itens {
    color: #64748B;
    font-size: 1.1rem;
}

.percentual {
    font-size: 1rem;
}

.barra {
    width: 100%;
    height: .57rem;
    border-radius: 99.9rem;
    background: #E2E8F0;
    overflow: hidden;
}

.barra_progresso {
    width: 0%;
    height: 100%;
    border-radius: 99.9rem;
    background: #DC2626;
    transition: .3s;
}

/* =========================
   BOTÕES
========================= */

.opcoes_botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1.5rem;
}

.opcoes_botoes button {
    height: 3.8rem;
    border: none;
    border-radius: .6rem;
    cursor: pointer;
    font-size: 1.27rem;
    font-weight: 600;
    transition: 0.25s;

}

.btn_novo_checklist {
    background: #fff;
    border: 1px solid #CBD5E1 !important;

}

.btn_novo_checklist:hover {
    background: #aeb3be;
}

.btn_novo_checklist:active {
    background: #aeb3be;
}


.btn_voltar_paginainicial {
    background: #3B82F6;
    color: #fff;
    transition: 0.25s;
}

.btn_voltar_paginainicial:hover {
    background: #062a65;
}

.btn_voltar_paginainicial:active {
    background: #062a65;
}

/* =========================
   1290
========================= */

@media (max-width:1290px) {

    main {
        width: 92%;
        max-width: none;
    }

    .resultado_topo {
        padding: 1.8rem;
    }

    .titulo_resultado h1 {
        font-size: 2rem;
    }

    .dados_resultado p {
        font-size: 1.3rem;
    }

    .container_nao_conforme {
        padding: 1.8rem;
    }

    .item_nao_conforme {
        padding: 1.15rem;
    }

    .item_nao_conforme p {
        font-size: 1.07rem;
    }

    .item_nao_conforme strong {
        display: block;
        margin-bottom: .5rem;
        font-size: 1.27rem;
    }

    .titulo_nao_conforme h2 {
        font-size: 1.3rem;
        font-weight: 600;
        color: #92400E;
    }

    .estatisticas {
        gap: 1.2rem;
    }

    .card_estatistica {
        min-height: 12rem;
        padding: 1.4rem;
    }

    .card_estatistica h3 {
        font-size: 1.3rem;
        margin-bottom: 3rem;
    }

    .itens {
        font-size: 1.1rem;
    }

    .percentual {
        font-size: 1.2rem;
    }

    .acao_necessaria {
        color: #B91C1C;
        line-height: 1.5;
        font-size: 1.1rem;
    }

    .opcoes_botoes button {
        height: 4rem;
        font-size: 1.2rem;
        transition: 0.25s;
    }

    .btn_novo_checklist:hover {
        background: #aeb3be;
    }

    .btn_novo_checklist:active {
        background: #aeb3be;
    }

    .btn_voltar_paginainicial:hover {
        background: #062a65;
    }

    .btn_voltar_paginainicial:active {
        background: #062a65;
    }

}

/* =========================
   1024
========================= */

@media (max-width:1024px) {

    main {
        width: 94%;
    }

    .resultado_topo {
        padding: 1.5rem;
    }

    .titulo_resultado h1 {
        font-size: 1.9rem;
    }

    .opcoes_botoes button {
        height: 4rem;
        font-size: 1.14rem;
        transition: 0.25s;
    }

    .btn_novo_checklist:hover {
        background: #aeb3be;
    }

    .btn_novo_checklist:active {
        background: #aeb3be;
    }

    .btn_voltar_paginainicial:hover {
        background: #062a65;
    }

    .btn_voltar_paginainicial:active {
        background: #062a65;
    }

    .dados_resultado p {
        font-size: 1.1rem;
    }

    .container_nao_conforme {
        padding: 1.4rem;
    }

    .titulo_nao_conforme h2 {
        font-size: 1.2rem;
    }

    .estatisticas {
        gap: 1rem;
    }

    .card_estatistica {
        min-height: 10rem;
        padding: 1.2rem;
    }

    .card_estatistica h3 {
        font-size: 1.1rem;
        margin-bottom: 2.5rem;
    }

    .itens {
        font-size: 1rem;
    }

    .item_nao_conforme strong {
        display: block;
        margin-bottom: .5rem;
        font-size: 1.2rem;
    }

    .percentual {
        font-size: .95rem;
    }

    .opcoes_botoes button {
        height: 3.8rem;
    }

    .item_nao_conforme p {
        font-size: 1.07rem;
    }

}


/* =========================
   768
========================= */

@media(max-width:768px) {

    .dados_resultado p {
        margin-bottom: .5rem;
        font-size: 1.05rem;
    }

    .resultado_topo {
        padding: 1.2rem;
    }

    .titulo_resultado {
        flex-wrap: wrap;
    }

    .titulo_resultado h1 {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .item_nao_conforme strong {
        display: block;
        margin-bottom: .5rem;
        font-size: 1rem;
    }

    .item_nao_conforme p {
        font-size: .95rem;
    }

    .opcoes_botoes button {
        transition: 0.25s;
    }

    .btn_novo_checklist:hover {
        background: #aeb3be;
    }

    .btn_novo_checklist:active {
        background: #aeb3be;
    }

    .btn_voltar_paginainicial:hover {
        background: #062a65;
    }

    .btn_voltar_paginainicial:active {
        background: #062a65;
    }



}

/* =========================
   600
========================= */

@media(max-width:600px) {


    .icone_resultado {
        align-self: flex-start;
    }

    .titulo_resultado h1 {
        font-size: 1.3rem;
    }


    .titulo_nao_conforme h2 {
        font-size: 1.1rem;
        font-weight: 600;
        color: #92400E;
    }


    .opcoes_botoes button {
        height: 3.4rem;
        border: none;
        border-radius: .6rem;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 600;
        transition: 0.25s;
    }

    .btn_novo_checklist:hover {
        background: #aeb3be;
    }

    .btn_novo_checklist:active {
        background: #aeb3be;
    }

    .btn_voltar_paginainicial:hover {
        background: #062a65;
    }

    .btn_voltar_paginainicial:active {
        background: #062a65;
    }

    .btn_novo_checklist {
        background: #fff;
        border: 1px solid #CBD5E1 !important;
    }

}

/* =========================
   480
========================= */

@media(max-width:480px) {

    main {
        width: 76%;
    }

    .acao_necessaria {
        color: #B91C1C;
        line-height: 1.5;
        font-size: 0.85rem;
    }

    .container_nao_conforme {
        padding: 1rem;
    }

    .item_nao_conforme {
        padding: .9rem;
    }

    .opcoes_botoes {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 1.5rem;
    }

    .opcoes_botoes button {
        height: 3.2rem;
        border: none;
        border-radius: .6rem;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        transition: 0.25s;
    }

    .btn_novo_checklist:hover {
        background: #aeb3be;
    }

    .btn_novo_checklist:active {
        background: #aeb3be;
    }

    .btn_voltar_paginainicial:hover {
        background: #062a65;
    }

    .btn_voltar_paginainicial:active {
        background: #062a65;
    }

    .btn_novo_checklist {
        background: #fff;
        border: 1px solid #CBD5E1 !important;
    }

    .status_nao_conforme {
        background: #DC2626;
        color: #fff;
        padding: .4rem .8rem;
        border-radius: .5rem;
        font-size: .6rem;
        font-weight: 700;
    }

}

/* =========================
   430
========================= */

@media(max-width:430px) {


    .titulo_resultado {
        flex-direction: column;
        align-items: flex-start;
        gap: .6rem;
    }


    .opcoes_botoes button {
        transition: 0.25s;
    }

    .btn_novo_checklist:hover {
        background: #aeb3be;
    }

    .btn_novo_checklist:active {
        background: #aeb3be;
    }

    .btn_voltar_paginainicial:hover {
        background: #062a65;
    }

    .btn_voltar_paginainicial:active {
        background: #062a65;
    }


}

/* =========================
   390
========================= */

@media(max-width:390px) {

    .dados_resultado p {
        font-size: .9rem;
    }

    .titulo_nao_conforme h2 {
        font-size: 1.05rem;
    }

    .card_estatistica h3 {
        font-size: 1rem;
    }

    .opcoes_botoes button {
        transition: 0.25s;
    }

    .btn_novo_checklist:hover {
        background: #aeb3be;
    }

    .btn_novo_checklist:active {
        background: #aeb3be;
    }

    .btn_voltar_paginainicial:hover {
        background: #062a65;
    }

    .btn_voltar_paginainicial:active {
        background: #062a65;
    }


}

/* =========================
   330
========================= */

@media(max-width:330px) {

    html {
        font-size: 12px;
    }

    .resultado_topo {
        padding: 1rem;
    }

    .container_nao_conforme {
        padding: .8rem;
    }

    .item_nao_conforme {
        padding: .8rem;
    }

    .alerta_acao {
        padding: .8rem;
    }

    .opcoes_botoes button {
        height: 3.4rem;
        transition: 0.25s;
    }

    .btn_novo_checklist:hover {
        background: #aeb3be;
    }

    .btn_novo_checklist:active {
        background: #aeb3be;
    }

    .btn_voltar_paginainicial:hover {
        background: #062a65;
    }

    .btn_voltar_paginainicial:active {
        background: #062a65;
    }


    .estatisticas {
        display: grid;
        grid-template-columns: 1fr;
    }

}



.status_conforme {
    background: #16A34A;
    color: #fff;
    padding: .4rem .8rem;
    border-radius: .5rem;
    font-size: .8rem;
    font-weight: 700;
}


/* =========================
   CONFORME
========================= */

.container_conforme_wrapper {
    display: none;
    width: 100%;
    margin: 0 auto 1.8rem auto;
}

.container_conforme {
    background: #EAF7EE;
    border: .125rem solid #22C55E;
    border-radius: 1rem;
    padding: 1.8rem;
}

.titulo_conforme {
    display: flex;
    gap: 1rem;
}

.titulo_conforme img {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.titulo_conforme h2 {
    color: #15803D;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .6rem;
}

.titulo_conforme p {
    color: #166534;
    font-size: 1.15rem;
    line-height: 1.6;
}

/* =========================
   RESPONSIVIDADE CONFORME
========================= */

@media (max-width:1290px) {

    .container_conforme_wrapper {
        width: 100%;
    }

    .titulo_conforme h2 {
        font-size: 1.5rem;
    }

    .titulo_conforme p {
        font-size: 1.4rem;
    }

}

@media (max-width:1024px) {

    .container_conforme_wrapper {
        width: 100%;
    }

    .container_conforme {
        padding: 1.5rem;
    }

    .titulo_conforme h2 {
        font-size: 1.42rem;
    }

    .titulo_conforme p {
        font-size: 1.3rem;
    }

}

@media (max-width:768px) {

    .container_conforme_wrapper {
        width: 94%;
    }

    .container_conforme {
        padding: 1.3rem;
    }

    .titulo_conforme h2 {
        font-size: 1.2rem;
    }

    .titulo_conforme p {
        font-size: 1.1rem;
    }

}

@media (max-width:600px) {

    .container_conforme_wrapper {
        width: 96%;
    }

    .titulo_conforme {
        align-items: flex-start;
    }

}

@media (max-width:480px) {

    .container_conforme_wrapper {
        width: 100%;
    }

    .container_conforme {
        padding: 1rem;
    }

    .titulo_conforme {
        gap: .8rem;
    }

    .titulo_conforme img {
        width: 1.6rem;
        height: 1.6rem;
    }

    .titulo_conforme h2 {
        font-size: 1rem;
    }

    .titulo_conforme p {
        font-size: .88rem;
    }

}

@media (max-width:390px) {

    .titulo_conforme {
        flex-direction: column;
        align-items: flex-start;
    }

}

@media (max-width:330px) {

    .container_conforme {
        padding: .8rem;
    }

    .titulo_conforme h2 {
        font-size: .95rem;
    }

    .titulo_conforme p {
        font-size: .82rem;
    }

}