@import 'global.css';

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    background-color: #f1f5f9;
    gap: 2rem;
}

.upper {
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0 .2rem .2rem rgba(0, 0, 0, 0.05);
    width: 80%;
}

.title {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.title h2 {
    font-weight: 500;
    font-size: 1.8rem;
    color: #222b37;
}

.title p {
    font-weight: 600;
    padding: .5rem;
    background-color: #16a34a;
    color: #ffffff;
    border-radius: .7rem;
}

.title figure img {
    width: 3rem;
}

.info {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #354357;
}

.text {
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

.result {
    display: flex;
    gap: 1rem;
    background-color: #f0fdf4;
    padding: 2rem;
    border-radius: 2rem;
    border-style: solid;
    border-width: .2rem;
    border-color: #16a34a;
    width: 80%;
}

.result figure img {
    width: 2rem;
}

.result h3 {
    font-size: 1.4rem;
    color: #166534;
}

.result p {
    font-size: 1.3rem;
    color: #166534;
}

.inspecao svg {
    width: 1.8rem;
}

.buttons {
    display: flex;
    gap: 2rem;
    width: 80%;
}

.buttons button {
    padding: 1.4rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-weight: 600;
    width: 100%;
}

.inspecao {
    transition: 300ms;
    gap: 1rem;
    border-style: solid;
    border-width: .1rem;
    border-color: #e5e5e5;
    background-color: #ffffff;
}

.inspecao:hover {
    transition: 300ms;
    background-color: #efefef;
}

.voltar {
    transition: 300ms;
    background-color: #3b82f6;
    border-style: none;
    color: #ffffff;
}

.voltar:hover {
    transition: 300ms;
    background-color: #306fd3;
}

@media screen and (max-width: 600px){
    .buttons {
        flex-direction: column;
    }
}


@media screen and (max-width: 460px){
    .title h2 {
        font-size: 1.6rem;
    }
    :root {
        font-size: 50%;
    }
}