<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../templates/assets/css/index.css">
</head>

<body>
    <header>
        <div class="botoes">
            <button class="login">
                Entrar
            </button>

            <button class="cadastro">
                Cadastrar-se
            </button>
        </div>
    </header>

    <main>
        <div class="container">

            <div class="textos">
                <h1>
                    SISSEG SST
                </h1>
                <p>
                    Utilizando a tecnologia para garantir a <span>segurança</span> de todos no ambiente de trabalho
                </p>
            </div>

            <div class="imagem">
                <figure>
                    <img src="../templates/assets/img/pagina_inicial_foto.png" alt="Imagem de Segurança do Trabalho">
                </figure>
            </div>
        </div>

        <div class="linha">
            <div class="bloco">
                <div class="parte_escrita">
                    <p class="titulo">Verificação de EPIs</p>
                    <p class="subtitulo">Realize a verificação dos EPIs rapidamente antes de cada atividade!</p>
                </div>

                <div class="ilustracao">
                    <figure>
                        <img src="../templates/assets/img/colete_azul.png" alt="Ilustração de Verificação de EPIs">
                    </figure>
                </div>

            </div>

            <div class="bloco">
                <div class="parte_escrita">
                    <p class="titulo">Check list diário</p>
                    <p class="subtitulo">Faça o check list diário para não esquecer de nada!</p>
                </div>

                <div class="ilustracao">
                    <figure>
                        <img src="../templates/assets/img/lista_azul.png" alt="Ilustração de Check list diário">
                    </figure>
                </div>

            </div>

            <div class="bloco">
                <div class="parte_escrita">
                    <p class="titulo">Controle de riscos</p>
                    <p class="subtitulo">Tenha controle dos riscos que existem em cada uma das atividades!</p>
                </div>

                <div class="ilustracao">
                    <figure>
                        <img src="../templates/assets/img/risco_azul.png" alt="Ilustração de Controle de riscos">
                    </figure>
                </div>

            </div>
        </div>
    </main>

<footer class="footer-simples">
    <div class="footer-conteudo">
        <p>&copy; 2026 SISSEG SST - Todos os direitos reservados.</p>
    </div>
</footer>

</body>

</html>