<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Norma Aplicável</title>
    <link rel="stylesheet" href="../templates/assets/css/norma_aplicavel.css">
</head>

<body>
    <div class="container">
        <header class="conteudo-norma">
            <a href="#" class="btn-voltar-topo">
                <img src="../templates/assets/img/setabranca_voltar.png" alt="Voltar">
            </a>
            <h1>Norma Aplicável</h1>
        </header>

        <main>
            <div class="card-detalhe">
                <h2>NR - 35</h2>
                
                <div class="texto-explicativo">
                    <p>Estabelece os requisitos mínimos de proteção para trabalhos realizados acima de 2 metros do nível inferior, onde haja risco de queda. Ela abrange planejamento, organização e execução, visando a segurança dos trabalhadores, incluindo capacitação obrigatória, Análise de Risco (AR) e Permissão de Trabalho (PT).</p>
                    
                    <p>A norma visa reduzir o alto índice de acidentes e quedas, que representam cerca de das ocorrências de trabalho no país.</p>
                </div>
            </div>
        </main>
    </div>
</body>

</html>