<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inspeção de EPI</title>
        <link rel="stylesheet" href="../templates/assets/css/resultado_inspecao.css">
    </head>
    <body>
        <div class="upper">
            <div class="title">
                <figure><img src="../templates/assets/img/check_verde.png" alt=""></figure>
                <h2>Resultado da inspeção</h2>
                <p>CONFORME</p>
            </div>
            <p class="info">
                Colaborador: <strong>João</strong> | Função: <strong>Pedreiro</strong><br>
                Setor: <strong>Setor 2</strong><br>
                Data: 22/06/2026 às 16:58:41
            </p>
        </div>
        <div class="result">
            <figure><img src="../templates/assets/img/check_verde.png" alt=""></figure>
            <div class="text">
                <h3>Todos os EPIs conformes</h3>
                <p>O colaborador está apto para iniciar as atividades com segurança.</p>
            </div>
        </div>
        <div class="buttons">
            <button class="inspecao">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-file-text w-4 h-4 mr-2"><path d="M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z"></path><path d="M14 2v4a2 2 0 0 0 2 2h4"></path><path d="M10 9H8"></path><path d="M16 13H8"></path><path d="M16 17H8"></path></svg>
                Nova inspeção
            </button>
            <button class="voltar">Voltar ao menu principal</button>
        </div>
    </body>
</html>