<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção da atividade</title>
    <link rel="stylesheet" href="../templates/assets/css/Selecao_da_atividade.css">
</head>

<body>
    <div class="container">
        <div class="conteudo">
            <h1>Selecione sua atividade</h1>
            <p class="descricao">Escolha a atividade que você irá realizar hoje</p>
        </div>
        </header>

        <main>
            <div class="grid">
                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/escada-de-mao.png" alt="escada marrom">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Trabalho em altura</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-35</p>
                        </div>
                        <div class="qtdepis">
                            <p>5 EPIs</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/muro.png" alt="muro">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Alvenaria</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-18</p>
                        </div>
                        <div class="qtdepis">
                            <p>6 EPIs</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/serrote.png" alt="serrote">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Carpintaria</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-18</p>
                        </div>
                        <div class="qtdepis">
                            <p>6 EPIs</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/paleta-de-pintura.png" alt="Paleta de pintura">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Pintura</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-18</p>
                        </div>
                        <div class="qtdepis">
                            <p>6 EPIs</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/fogo.png" alt="Fogo">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Soldagem</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-12</p>
                        </div>
                        <div class="qtdepis">
                            <p>6 EPIs</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/raio.png" alt="Raio">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Eletricidade</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-10</p>
                        </div>
                        <div class="qtdepis">
                            <p>7 EPIs</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/cadeado.png" alt="Cadeado">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Espaço confinado</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-33</p>
                        </div>
                        <div class="qtdepis">
                            <p>8 EPIs</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/martelo.png" alt="Martelo">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Demolição</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-18</p>
                        </div>
                        <div class="qtdepis">
                            <p>7 EPIs</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/parafuso.png" alt="Parafuso">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Armador de Ferro</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-18</p>
                        </div>
                        <div class="qtdepis">
                            <p>6 EPIs</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/guindaste-de-torre.png" alt="Guindaste-de-torre">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Concretagem</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-18</p>
                        </div>
                        <div class="qtdepis">
                            <p>6 EPIs</p>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="icones">
                        <figure>
                            <img src="../templates/assets/img/empilhadeira.png" alt="Empilhadeira">
                        </figure>

                        <figure class="seta">
                            <img src="../templates/assets/img/seta-cinza.png" alt="seta cinza">
                        </figure>
                    </div>

                    <div class="titulo">
                        <p>Operadora (a) de Máquinas</p>
                    </div>

                    <div class="dados">
                        <div class="nr">
                            <p>NR-12</p>
                        </div>
                        <div class="qtdepis">
                            <p>6 EPIs</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="msg">
                <p><span>Importante:</span> Selecione apenas a atividade principal que você executará. Os EPIs
                    obrigatórios
                    serão exibidos na próxima etapa.</p>
            </div>
        </main>
    </div>
</body>

</html>