<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../templates/assets/css/selecao_funcao_colaborador.css">
        <!-- <link rel="shortcut icon" href="../templates/assets/img/favicon.ico" type="image/x-icon"> -->
        <title>Inspeção de EPI</title>
    </head>
    <body>
        <header>
            <button class="voltarBtn">
                <figure>
                    <img src="../templates/assets/img/seta_esquerda.png" alt="Black left-pointing arrow on white background, indicating a back or previous navigation action">
                </figure>
                Voltar
            </button>
        </header>
        <main>
            <div class="containerSuperior">
                <div class="sTitle">
                    <figure>
                        <img src="../templates/assets/img/double_check.png" alt="Two overlapping blue check marks forming a verification logo; one darker blue tick overlaps a lighter blue tick, both angled upward. Small square icon with transparent background. No visible text. Conveys confidence and reliability.">
                    </figure>
                    <h2>Inspeção de EPI – Diário</h2>
                </div>
                <h4>Selecione a função do colaborador para iniciar a inspeção</h4>
            </div>
            <div class="grid">
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
                <div class="card">
                    <h3>Pedreiro</h3>
                    <h5>7 EPIs obrigatórios</h5>
                    <ul>
                        <li>Capacete com jugular</li>
                        <li>Óculos anti-impacto</li>
                        <li>Luvas de vaqueta/raspa</li>
                    </ul>
                    <p>+5 mais...</p>
                </div>
            </div>
        </main>
    </body>
</html>