<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Verificação & EPIs</title>
        <link rel="stylesheet" href="../templates/assets/css/verificacao_epi_adm.css">
    </head>
    <body>
        <div class="sombra"></div>
        <form>
            <figure><img src="../templates/assets/img/seta_esquerda.png" alt=""></figure>
            <h2>Criar nova atividade</h2>
            <div class="inputs">
                <div class="input">
                    <label for="nome_atividade">Nome</label>
                    <input type="text" name="nome_atividade" id="nome_atividade" placeholder="Digite o nome da atividade">
                </div>
                <div class="input">
                    <label for="nr">NR</label>
                    <input type="text" name="nr" id="nr" placeholder="Selecione a NR da atividade">
                </div>
                <div class="input">
                    <label for="epi-1">EPI - 1</label>
                    <input type="text" name="epi-1" id="epi-1" placeholder="Insira o nome do EPI 1">
                </div>
                <div class="input">
                    <label for="funcao-1">Função - 1</label>
                    <input type="text" name="funcao-1" id="funcao-1" placeholder="Insira a função do EPI 1">
                </div>
                <div class="input">
                    <label for="descricao-1">Descrição - 1</label>
                    <input type="text" name="descricao-1" id="descricao-1" placeholder="Insira a descrição do EPI 1">
                </div>
                <div class="input">
                    <label for="ca-1">CA - 1</label>
                    <input type="text" name="ca-1" id="ca-1" placeholder="Certificado de aprovação do EPI 1">
                </div>
            </div>
            <button type="button" class="adicionar_epi">Adicionar EPI</button>
            <button type="submit" class="salvar">Salvar</button>
        </form>
        <header>
            <button class="voltar">
                <figure><img src="../templates/assets/img/seta_esquerda.png" alt=""></figure>
                Voltar
            </button>
        </header>
        <main>
            <div class="upper">
                <h1>Atividades</h1>
                <p class="gerencie">Gerencie as atividades realizadas pelo trabalhador</p>
                <div class="atvs">
                    <p>Total de atividades</p>
                    <h2>11</h2>
                </div>
            </div>
            <div class="search_div">
                <div class="search_input">
                    <figure><img src="../templates/assets/img/lupa_azul.png" alt=""></figure>
                    <input type="text" name="search" id="search" placeholder="Busque por atividades">
                </div>
                <div class="buttons">
                    <button class="criar_atividade">
                        <figure><img src="../templates/assets/img/mais_branco.png" alt=""></figure>
                        Criar atividade
                    </button>
                    <button>
                        <figure><img src="../templates/assets/img/filtro.png" alt=""></figure>
                        Filtrar
                    </button>
                </div>
            </div>
            <div class="grid">
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3 class="trabalho">Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3 class="trabalho">Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3 class="trabalho">Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3 class="trabalho">Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3 class="trabalho">Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3 class="trabalho">Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3 class="trabalho">Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3 class="trabalho">Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
            </div>
        </main>
    </body>
</html>