<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Verificação de EPIs</title>
        <link rel="stylesheet" href="../templates/assets/css/verificacao_epi_adm.css">
    </head>
    <body>
        <header>
            <button class="voltar">
                <figure><img src="../templates/assets/img/seta_esquerda.png" alt=""></figure>
                Voltar
            </button>
        </header>
        <main>
            <div class="upper">
                <h1>Atividades</h1>
                <p class="gerencie">Gerencie as atividades realizadas pelo trabalhador</p>
                <div class="atvs">
                    <p>Total de atividades</p>
                    <h2>11</h2>
                </div>
            </div>
            <div class="search_div">
                <div class="search_input">
                    <figure><img src="../templates/assets/img/lupa_azul.png" alt=""></figure>
                    <input type="text" name="search" id="search" placeholder="Busque por atividades">
                </div>
                <button>
                    <figure><img src="../templates/assets/img/mais_branco.png" alt=""></figure>
                    Criar atividade
                </button>
                <button>
                    <figure><img src="../templates/assets/img/filtro.png" alt=""></figure>
                    Filtrar
                </button>
            </div>
            <div class="grid">
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3>Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3>Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3>Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3>Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3>Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3>Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3>Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
                <div class="card">
                    <figure><img src="../templates/assets/img/trabalho.png" alt=""></figure>
                    <div class="title">
                        <h3>Trabalho em altura</h3>
                        <p>NR-35</p>
                    </div>
                    <p class="nEPIs">Nº de EPIs: 5</p>
                    <button>Editar atividade</button>
                </div>
            </div>
        </main>
    </body>
</html>